1-bana her zaman türkçe cevap ver 
2-işletim sistemim windows 11 buna göre cmd komutlarını çalıştırırken dikkat et
3-sitedeki bütün stillendirmeleri tek bir dosyada toplayacağız diğer sayfalarda dahil ama çakışma sorunu yaşayabiliriz bu yüzden buna önlem amak içn her sayfanın ana kapsayıcısı ve stilelndirmelerine id eklemelisin